.modal {
  position: absolute;
  top: 20px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: rgb(81, 76, 76);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 95%;
  padding: 12px;
}
